#chessboard {
    display: grid;
    /* CHANGE THIS LATER */
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    /* CHANGE THIS LATER */
    width: 800px; 
    /* VARIABLE AFFECTED BY PIECE SIZE */
    aspect-ratio: 1/1;
}

