.chessboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chessboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(8 * 5vw);
  width: calc(8 * 5vw);
  max-height: 640px;
}

.row {
  display: flex;
  position: relative;
}

.cell {
  width: 5vw;
  height: 5vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 3vw;
  user-select: none;
  border-radius: 10%;
}

.cell-3d {
  animation: float 3s ease-in-out infinite;
  animation-duration: 5s;
  animation-fill-mode: both;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.color-indicator-black {
  background-color: #000000;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.color-indicator-white {
  background-color: #ffffff;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.white-copy {
  background-color: #b4a388;
}

.black-copy {
  background-color: #816147;
}

.rank-label {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: -20px;
  margin-bottom: 60px;
  user-select: none;
  z-index: 4;
  pointer-events: none;
}

.file-labels {
  display: flex;
  margin-top: 5px;
  user-select: none;
  margin-left: 70px;
  pointer-events: none;
}

.file-label {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  user-select: none;
  margin-top: -40px;
  margin-left: 5px;
  margin-right: 5px;
  
  z-index: 4;
}

.opponent-info, .player-info {
  display: grid;
  color: white;
  z-index: 10;
}

.highlight-circle {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

.highlight-circle.move {
  border-radius: 50%;
}

.highlight-circle.attack {
  border-radius: 10%;
}

.cell-popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 10;
  transform: translateX(-50%);
  top: -30px;
  left: 50%;
  white-space: nowrap;
  font-size: 12px;
  pointer-events: none;
}

.piece-display, .piece-grid {
  border-radius: 20px;
  width: 100%;
  max-width: 12vw;
  min-width: 12vw;
  height: 100%;
  max-height: 80vh;
  min-height: 60vh;
  display: grid;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: rgba(160, 160, 160, 0.2);
  backdrop-filter: blur(2px);

  padding: 10px;
  margin: 10px;
  z-index: 5;
  overflow: hidden;

  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
}

.piece-list, .display {
  max-height: 70vh;
  min-height: 70vh;

  max-width: 12vw;
  min-width: 10vw;

  overflow-y: scroll;

  display: grid;
  flex-direction: column;

  align-items: center;
}

.piece-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: .5vw;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

.piece-grid-item {
  scale: 1;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece-grid-item:hover {
  scale: 1.05;
  cursor: pointer;
}

.piece-list::-webkit-scrollbar {
  display: none;
}

.display::-webkit-scrollbar {
  display: none;
}

.status-effects {
  align-items: center;
  position: absolute;
  top: 0;
  right: 0; 
  z-index: 7;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
}