.piece-info {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10vh;
}

.grid-container.flipped .grid {
  transform: rotate(180deg);
}

.grid-title {
  text-align: center;
  font-weight: bold;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 10px);
  grid-template-rows: repeat(15, 10px);
  gap: 2px;
  justify-content: center;
}

.grid-cell {
  width: 10px;
  height: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.grid-cell.center {
  background-color: #ffff99; /* Yellow for the piece itself */
}

.grid-cell.move {
  background-color: rgba(0, 255, 0, 0.5); /* Green for movement */
}

.grid-cell.attack {
  background-color: rgba(255, 0, 0, 0.5); /* Red for attack */
}